<!-- <div class="menu-bar col-md-3 col-sm-6 col-xl-12">
  <p class="logo" data-text="IGM Shop">IGM Shop</p>
 
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="home"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="list"><i class="fa fa-tags"></i>Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""><i class="fa fa-address-book-o"></i>Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login"><i class="fa fa-user-o"></i>Login</a>
      </li>
    </ul>
  </div> -->
<header>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-12">
            <div class="btn-group">
               <Button class="btn border dropdown-toggle my-md-4 my-2 text-white" data-toggle="dropdown" 
               aria-haspopup="true" aria-expanded="false">USD</Button> 
               <div class="dropdown-menu">
                 <a href="" class="dropdown-item">EURO</a>
                 <a href="" class="dropdown-item">VND</a>
               </div>
            </div>
        </div>
       <div class="col-md-4 col-12 text-center"><h2 class="my-md-3 site-title" data-text="IGM store">IGM Store</h2></div>
        <div class="col-md-4 col-12 text-right">
          <p class="my-md-4 header-links">
            <a href="#" class="px-2 text-white" style="font-size: 20px;">Sign In</a>
            <a href="#" class="px-1 text-white" style="font-size: 20px;">Create an Account</a>
          </p>
        </div>
    </div>
</div>
</header>