

p{
    color: rgb(240, 212, 212);
    line-height: 25px;

}

h2,h3{
    color:rgb(240, 212, 212);
}

h2{
    font-size: 18px;
}

.footer-top{
    background:  #e3f2fd;;
    padding-top: 10px;

}

.segment-one h3{
    font-family: 'Courgette', cursive;
    color: #1a41f0;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-one h2{
    font-family: 'Poppins', sans-serif;
    color: #255784;
    text-transform: uppercase;
}

.segment-one p{
    font-family: 'Courier New', Courier, monospace;
    color: #1a41f0;
}

.segment-two h2{
    font-family: 'Poppins', sans-serif;
    color: #1a41f0;
    text-transform: uppercase;
}

.segment-two h2:before{
    content: '|';
    color: #c65039;
    padding-right:  10px;

}

.segment-two p{
    font-family: 'Courier New', Courier, monospace;
    color: #45ccb8;
}

.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li{
    border-bottom: 1px solid rgb(240, 212, 212);
    line-height: 40px;
}

.segment-two ul li a{
    color: #1a41f0;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color:#1a41f0;
}

.segment-three h2{
    color: #1a41f0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.segment-three h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-three a{
    background: #494848;
    width: 70px;
    height: 40px;
    display: inline-block;
    border-right: solid 1px #45ccb8;
}

.segment-three a i{
    font-size: 20px;
    color: #1a41f0;
    padding: 10px 30px;
}

.segment-four h2{
    color: #1a41f0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.segment-four  h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-four form input[type=submit]{
    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
}

.fotter-bottom-text p{
    text-align: center;
    background: #404350;
    line-height: 75px;
    padding-top: 20px;
    height: 100px;
}