
<div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xl-12 segment-one">
          <h3>IGM Shop</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis necessitatibus aut maxime,
             architecto voluptatibus nisi tempora nesciunt. Quod culpa excepturi nostrum fuga magni iste praesentium, perspiciatis quasi atque deleniti corrupti?</p> 
        </div>
        <div class="col-md-3 col-sm-6 col-xl-12 segment-two">
          <h2>Useful link</h2>
          <ul>
            <li><a href="">Event</a></li>
            <li><a href="">Suport</a></li>
            <li><a href="">Hosting</a></li>
            <li><a href="">Career</a></li>
            <li><a href="">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xl-12 segment-three">
          <h2>Follow Us</h2>
         <p>Please follow and suport our social Media Profile</p>
         <a href=""><i class="fa fa-facebook"></i></a> 
         <a href=""><i class="fa fa-twitter"></i></a> 
         <a href=""><i class="fa fa-google"></i></a> 
         <a href=""><i class="fa fa-youtube"></i></a> 
        </div>
        <div class="col-md-3 col-sm-6 col-xl-12 segment-four">
          <h2>Our NewLetter</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sit reiciendis voluptatum. Explicabo dolor molestias asperiores earum dolore ipsum deleniti veritatis, ea voluptatum culpa beatae voluptatibus, eos est perferendis laborum?</p>
        <form action="">
          <input type="email">
          <input type="submit" value="Subcribe">
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="fotter-bottom-text">
    <p style="font-family: 'Courier New', Courier, monospace;">All Right reserved by Copy;IGM.2020</p>
  </div>
