<div class="container">
<h2 style="text-transform: uppercase; color: #2152f3;"><a (click)="backToManager()">Product manager </a></h2>
<a class="nav-link" routerLink="add" routerLinkActive = "active" style="color: #f72626;">Add product</a>

<table class="table table-striped mt-3 ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Desciption</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.desc}}</td>
            <td>{{p.price}}</td>
            <td><img src="{{p.img}}" style="width: 200px; height: 120px; ;"></td>
            <td>
                <a routerLink="edit/{{p.id}}"><i class="fa fa-pencil" ></i></a>
                <a style="color: red; cursor: pointer; margin-left: 10px;" (click)="deleteProduct(p)" ><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    </tbody>
    <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="products.length">
    </ngb-pagination>
</table>
</div>
